@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  
  margin: 0;
  place-items: center;
  background-color: #242424;
  background-color: #1E3A8A; /* Tailwind blue-900 */
  min-height: 100vh;
  padding: 0;
  overflow: scroll;
  
  
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
